# Local environment template
YOUTUBE_CHANNEL_ID=UC3OOjkWTTRf0fKDK5Z2o93A
YOUTUBE_API_KEY=
YOUTUBE_SERMONS_API_KEY=
YOUTUBE_LIVE_API_KEY=
YOUTUBE_MAX_RECENT=12
YOUTUBE_PLAYLIST_ITEMS_CAP=100
CACHE_REFRESH_TIME=16:30
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
ADMIN_LOGIN_DISABLED=false
